# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Environment
.env

# Airflow
airflow.cfg
airflow.db
logs/
config/
plugins/

# Data (large files, regenerable)
data/*
!data/.gitkeep
*.tif
*.tiff
*.zip
*.csv
*.json
!package.json

# IDE
.vscode/
.idea/
.DS_Store

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Exceptions 
!config/simple_auth_manager_passwords.json.generated
